# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:

    image: "opertusmundi/normalize:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"
    
    command: ['-v']
    volumes:
    - type: 'bind'
      source: .
      target: '/work'
    
    environment:
      TEMPDIR: '/work/temp'
      OUTPUT_DIR: '/work/output'
      INSTANCE_PATH: '/work/data'
      DATABASE: '/work/data/normalize-testing.sqlite'

    working_dir: /work
    user: "1000:1000"
    
    networks:
    - 'opertusmundi_dev_network'  

networks:
  opertusmundi_dev_network: 
    external: true

